* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1{
    background: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 1;
}

#canvas2{
    background: hsl(220, 100%, 20%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
